* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Microsoft YaHei";
  cursor: default;
}
body {
  width: 100%;
}
@media (max-width: 650px) {
  html {
    font-size: 50%;
  }
}
p {
  color: #999;
}
/*main*/
.clear {
  clear: both;
}
.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .wrap {
    margin: 0 1.6667%;
    width: 96.6666%;
  }
}
/*header*/
.header {
  background-color: #fff;
}
.header p {
  display: inline-block;

  padding: 11px 0;

  color: #42b683;
}
.header-1 {
  position: relative;
}
.header-1 .wrap div {
  float: right;

  margin-top: 0.5833%;
}
.header-1 span {
  display: inline-block;
  width: 25px;
  height: 24px;

  margin-right: 12px; 

  background: url("../img/sprite2.png") no-repeat;
  background-position: -330px 0;
  cursor: pointer;
}
#ico-qq {
  background-position: -355px 0;
}
#ico-wb {
  background-position: -380px 0;
}
.header-2 {
  background-color: #29b078;
  color: #FFF;
  font-size: 1.6rem;
}
.logo {
  float: left;

  padding: 26px 56px;
  margin-top: 25px;

  background: url("../img/sprite2.png") no-repeat -92px 0;
}
@media (max-width: 768px) {
  .logo {
    margin-left: 7%;
  }
  .header-2 ul {
    margin-right: 10%;
  }
}
.header-2 ul {
  float: right;

  min-width: 200px;

  list-style: none;
}
#header-index {
  border-bottom: 5px solid #fff;
}
.header-2 ul li {
  display: inline-block;
  padding: 36px 27px;
  border-bottom: 5px solid #29b078;

  cursor: pointer;
  -webkit-transition: border-bottom 0.1s linear;
     -moz-transition: border-bottom 0.1s linear;
          transition: border-bottom 0.1s linear;
}
.header-2 ul li:hover {
  border-bottom: 5px solid #fff;
}
@media (max-width: 650px) {
  .header-2 ul li {
    padding: 39px 4%;
  }
  .header-2 ul {
    margin-right: 3%;
  }
}
@media (max-width: 450px) {
  .logo {
    margin-left: 35%;
  }
  .header-2 ul li {
    padding: 39px 4%;
  }
  .header-2 ul {
    margin-right: 25%;
  }
}

/*container*/
.container {
  background-color: #fafafa;
}
/*banner*/
.banner {
  position: relative;
  overflow: hidden;
}
.middle {
  padding-bottom: 31.25%;
}
.middle img {
  position: absolute;
}
#banner1 {
  left: 0;
}
#banner2 {
  left: 100%;
}
#banner3 {
  left: 100%;
}
.control {
  position: absolute;
  width: 16.6667%;
  padding-bottom: 31.25%;
  top: 0;
  z-index: 100;

  background: url("../img/ico_04.png") no-repeat right center;
  cursor: pointer;
}
.right {
  right: 0;

  background: url("../img/right.png") no-repeat left center;
}
.middle img {
  width: 100%;
}
.circular {
  position: absolute;
  bottom: 1.25%;
  left: 47%;
  width: 3.5833%;
}
@media (max-width: 900px) {
  .circular {
    width: 5.5833%;
  }
}
.circular img {
  width: 100%;
}

/*container*/
.container .wrap {
  margin-top: 8.3333%;
}
/*content1*/
.container .wrap > div {
  padding-top: 60px;
}
.content-1 div {
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-right: 8%;

  width: 18.0833%;
  height: 262px;
}
@media (max-width: 1000px) {
  .content-1 .tworol {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 520px) {
  .content-1 div {
    width: 40%;
    height: 230px;
  }
  .content-1 .onerol{
    margin-left: 33%;
  }
  .content-1 #count {
    margin-left: 25%;
    border-left: none;
  }
}
#norm {
  padding-top: 14px;
}
#friends {
  padding-top: 7px;
}
.content-1 h1 {
  margin-top: 26px;

  font-size: 1.8rem;

  color: #333;
}
.content-1 h2 {
  margin-top: 27px;

  font-size: 1.6rem;
  font-weight: 500;

  color: #a1a1a1;
  text-align: left;
}
#count {
  width: 206px;
  height: 228px;
  margin-right: 0;
  margin-left: -50px;
  padding-left: 50px;
  padding-top: 2.8333%;

  text-align: left;

  border-left: 1px solid #dedede;
  font-size: 1.8rem;
}
#count span {
  display: block;
  margin-top: 29px;

  color: #26a26f;
  background: url("../img/sprite2.png") no-repeat;
  background-position: -573px 5px;
}
#count p {
  margin-top: 6px;
}
p {
  color: #999;
}
/*content2*/
.content-2 > h1 {
  text-align: center;

  margin-bottom: 52px;

  font-size: 1.8rem;
}
.content-2 div {
  float: left;

  margin-bottom: 59px;
}
@media (max-width: 1250px) {
  .content-2 .tworol {
    margin-left: 18%;
    margin-right: 10%;
  }
  .content-2 span {
    display: none;
  }
}
@media (max-width: 800px) {
  .content-2 .onerol {
    margin-left: 25%;
  }
}
@media (max-width: 460px) {
  .content-2 .onerol {
    margin-left: 15%;
  }
}
.content-2 div h1 {
  display: inline-block;
  padding-top: 23px;

  width: 73px;
  height: 65px;

  background: url("../img/sprite2.png") no-repeat -500px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.8rem;
  color: #26a26f;
}
.content-2 div p {
  display: inline-block;
  line-height: 26px;
  margin: 0 12px;

  width: 156px;

  font-size: 1.4rem;
}
.howtolearn34 > p {
  position: relative;
  top: -10px;
}
.point {
  display: inline-block;
  margin-right: 24px;

  width: 29px;
  height: 27px;

  background: url("../img/sprite2.png") no-repeat;
  background-position: -405px 0;
}
/*content3*/
.content-3 {
  text-align: center;
}
.content-3 > h1 {
  margin-bottom: 70px;
}
.content-3 div {
  float: left;
  margin-right: 3.3333%;
  margin-bottom: 3%;

  width: 270px;
  height: 370px;

  box-shadow: 0 0 5px #e2e2e2;
  border-radius: 2px;
  background-color: #fff;
}
@media (max-width: 1250px) {
  .content-3 .tworol {
    margin-left: 17%;
    margin-right: 10%;
  }
  .content-3 > img {
    display: none;
  }
}
@media (max-width: 900px) {
  .content-3 .onerol {
    margin-left: 30%;
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  .content-3 .onerol {
    margin-left: 20%;
  }
}
@media (max-width: 400px) {
  .content-3 .onerol {
    margin-left: 10%;
  }
}
@media (max-width: 320px) {
  .content-3 .onerol {
    margin-left: 3%;
  }
}
.content-3 div img {
  margin-top: 19px;
}
.content-3 div h1 {
  margin: 36px 0 26px 0;

  font-size: 1.8rem;
}
.content-3 div p {
  text-align: left;
  margin: 0 34px;

  font-size: 1.6rem;
}
#lastpic {
  margin-right: 0;
}
.content-3 > img {
  margin-top: 24px;
}
/*content4*/
.content-4 {
  text-align: center;

  padding-bottom: 102px;
}
.content-4 h1 {
  margin-bottom: 66px;
}
.content-4 ul {
  list-style: none;
  background-color: #fff;

  box-shadow: 0 0 5px #e2e2e2;
}
.content-4 ul li {
  float: left;

  padding: 7.4167% 10%;

  cursor: pointer;
}
#alibaba {
  background: url("../img/alibaba.png") no-repeat;
  background-position: center center;
}
#jinshanyun {
  background: url("../img/ico_17.png") no-repeat;
  background-position: center center;
}
#huanxin {
  background: url("../img/ico_19.png") no-repeat;
  background-position: center center;
}
#ronglian {
  background: url("../img/ico_20.png") no-repeat;
  background-position: center center;
}
#qiniu {
  background: url("../img/ico_18.png") no-repeat;
  background-position: center center;
}
@media (max-width: 900px) {
  #alibaba {
    background-size: contain;
  }
  #jinshanyun {
    background-size: contain;
  }
  #huanxin {
    background-size: contain;
  }
  #ronglian {
    background-size: contain;
  }
  #qiniu {
    background-size: contain;
  }
}
.content-4 ul li:hover {
  box-shadow: 0 0 5px 3px #e2e2e2;
}
.content-4 img {
  margin: 66px 0;
}
.clear {
  clear: both;
}

/*footer*/
.footer-wrap {
  background-color: #26a26f;
}
.footer-wrap p {
  color: #fff;
}
.footer {
  color: #fff;
  font-size: 1.4rem;
}
.footer div {
  float: left;
  margin-top: 38px;
  margin-right: 12.5%;
}
.footer p {
  font-size: 1.6rem;
  line-height: 3rem;
}
.footer span {
  display: block;
  margin-top: 30.2083%;
}
@media (max-width: 650px) {
  .footer span {
    margin-top: 20%;
  }
}
.footer ul {
  width: 245px;

  list-style: none;
}
#weixinpt {
  float: right;

  margin-right: 2.8333%;
  margin-bottom: 18px;
  margin-right: 0;
}
@media (max-width: 750px) {
  #weixinpt {
    float: left;
  }
}
#weixinpt div {
  padding: 46px;
  margin-top: 0;

  background: url("../img/sprite2.png") no-repeat;
}
.footer li {
  display: inline-block;
  margin: 18px 36px 0 0;

  border-bottom: 1px solid #26a26f;
  cursor: pointer;
}
.footer li:hover {
  border-bottom: 1px solid #fff;
}

.footer-wrap > p {
  text-align: center;

  line-height: 30px;

  border-top: 1px solid #32c086;
}
@media (max-width: 470px) {
  .footer-wrap > p span {
    display: block;
  }
}
