/*initial*/
.text-length {
  width: 70%;
}
textarea {
  max-width: 70%;
  width: 70%;
  height: 200px;
}
/*content*/
.sign-form > div {
  margin-bottom: 1.5%;
}
.sign-form > div > span {
  display: inline-block;
  width: 15%;
}
.sign-radio > div {
  display: inline-block;
  margin-right: 3%;
}
.wish {
  vertical-align: top;
}
